@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Lato', sans-serif;
}

body {
  background: #FCCA46;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1, h2 {
  font-family: 'Press Start 2P', cursive;
  color: #233D4D;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 5px;
  margin: 20px auto;
}